@mixin flex($align: center, $justify: center, $flexWrap: nowrap) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-wrap: $flexWrap;
}
@mixin font($fontSize: 16px, $fontWeight: 500, $color: #fff) {
	font-size: $fontSize !important;
	font-weight: $fontWeight;
	color: $color;
}
@mixin horizontalPadding($paddingLeft: 6rem, $paddingRight: 6rem) {
	padding-right: $paddingRight;
	padding-left: $paddingLeft;
}
@mixin verticalPadding($paddingTop: 3rem, $paddingBottom: 3rem) {
	padding-top: $paddingTop;
	padding-bottom: $paddingBottom;
}
@mixin horizontalMargin($marginRight: 6rem, $marginLeft: 6rem) {
	margin-right: $marginRight;
	margin-left: $marginLeft;
}
@mixin mainFont(
	$fontSize: 14px,
	$lineHeight: 24px,
	$letterSpacing: 0.2px,
	$color: #737373
) {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	color: $color;
}
