.header {
	@include flex(center, center);
	background: #fff;
	padding: 0 6rem;
	height: 100%;
	gap: 20px;
	overflow: hidden; //* mobile menu breaks layout
	@media (max-width: 1200px) {
		padding: 0 2.125rem;
	}
	@media (max-width: 992px) {
		padding: 0 1.5rem;
		gap: 10px;
	}
	@media (max-width: 768px) {
		@include verticalPadding(2rem, 2.5rem);
		justify-content: space-between;
	}
	.logo {
		@media (max-width: 768px) {
			align-self: self-start;
		}
	}
	& > .ant-menu {
		justify-content: center;
		text-transform: capitalize;
		flex: 1;
		border: 0;
		@media (max-width: 768px) {
			flex-direction: column;
		}
		.ant-menu-item {
			padding: 0 0.75rem;
			.ant-menu-title-content {
				@include mainFont(14px, 24px, 0.2px, #737373);
				@media (max-width: 992px) {
					font-size: 0.75rem;
				}
			}
		}
	}
	.nav-collapse {
		.ant-menu-submenu {
			position: relative;
			width: 90vw;
			inset-inline-start: -120px;
		}
		.ant-menu-item {
			margin: 2rem 0;
			.ant-menu-title-content {
				@include flex();
				gap: 5px;
				@include mainFont(30px, 45px, 0.2px, #23a6f0);
				.anticon {
					svg {
						width: 28px;
						height: 28px;
					}
				}
			}
			&.nav-item {
				.ant-menu-title-content {
					@include mainFont(30px, 45px, 0.2px, #737373);
				}
			}
		}

		.ant-menu-submenu-title {
			padding: 0;
		}

		.ant-menu {
			background: none;
			.ant-menu-item {
				padding: 0 !important;
				text-align: center;
				justify-content: center;
				&.ant-menu-item-selected {
					background: none;
				}
				.ant-menu-item-icon {
					flex: 1;
					width: 100%;
				}
			}
		}
		.ant-dropdown-menu-item {
			@include flex();
			text-align: center;
			@include mainFont(30px, 45px, 0.2px, #737373);
			text-transform: capitalize;
		}
	}
	& > .authenticate {
		height: 100%;
		display: flex;
		gap: 10px;
		font-size: 14px;

		& > .ant-typography {
			color: #23a6f0;
			@media (max-width: 768px) {
				font-size: 30px;
			}
		}
		.login {
			gap: 5px;
		}
	}
	& > .actions {
		display: flex;
		gap: 10px;
		@media (max-width: 768px) {
			flex-direction: column;
			gap: 30px;
		}
		& > .ant-typography {
			color: #23a6f0;
		}
		.item {
			@include mainFont(12px, 16px, 0.2px, #23a6f0);
			gap: 5px;
			padding: 0.25rem;
			svg {
				width: 1rem;
				height: 1rem;
				@media (max-width: 768px) {
					width: 3rem;
					height: 3rem;
				}
			}
		}
	}
}

.main-header {
	.ant-page-header {
		@include flex(center, space-between);
		@include horizontalPadding();
		@media (max-width: 768px) {
			justify-content: center;
		}
		@media (max-width: 425px) {
			flex-direction: column;
			row-gap: 64px;
		}
		.ant-page-header-heading {
			@include horizontalPadding(2rem, 2rem);
		}
		.ant-breadcrumb {
			ol {
				gap: 5px;
				li {
					@include flex();
					gap: 5px;
					a {
						@include mainFont(14px, 24px, 0.2, #bdbdbd);
						&.active {
							color: #252b42;
						}
						&:hover {
							color: #252a3b;
						}
					}
				}
			}
		}
	}
	.shop-cards {
		@include flex(center, space-between);
		@include horizontalPadding();
		@include verticalPadding(1rem, 3rem);
		gap: 16px;
		@media (max-width: 1024px) {
			flex-wrap: wrap;
			justify-content: space-around;
		}
		@media (max-width: 1024px) {
			@include horizontalPadding(3rem, 3rem);
		}
		.card-item {
			@include flex();
			flex-direction: column;
			width: 204px;
			height: 223px;
			background: rgba(33, 33, 33, 0.25);
			@media (max-width: 1024px) {
				width: 15vw;
			}
			@media (max-width: 425px) {
				width: 77vw;
			}
			h5 {
				@include mainFont(16px, 24px, 0.1px, #fff);
			}
			p {
				@include mainFont(14px, 20px, 0.2px, #fff);
			}
		}
	}
}
.ant-dropdown-trigger {
	border: 0;
	background: none;
}
.ant-dropdown {
	width: 100%;
	left: 0 !important;
}
