@import './abstracts/mixins';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '~antd/dist/antd.css';
@import './layout/header';
@import './layout/footer';
@import './pages/shop';
@import './components/common';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.ant-layout {
	.ant-typography {
		@include flex(center, center);
		@include mainFont(14px, 24px, 0.2px, #737373);
		margin: 0;
		&.logo {
			padding: 0 20px;
			@include mainFont(24px, 32px, 0.1px, #252b42);
			@media (max-width: 992px) {
				font-size: 1rem;
				padding: 0 0.5rem;
			}
		}
	}
}
