.shop-items {
	@include horizontalPadding();
	@include verticalPadding(2rem, 2rem);
	flex-direction: row;
	flex-wrap: wrap;
	background: #ffffff;
	.ant-card {
		border: 0;
		.ant-card-body {
			@include flex();
			flex-direction: column;
			gap: 10px;
			h5 {
				@include mainFont(16px, 24px, 0.1px, #252b42);
				margin: 0;
			}
			.price {
				@include flex();
				gap: 5px;
				h5 {
					@include mainFont(16px, 24px, 0.1px, #bdbdbd);
					&:nth-child(2) {
						color: #23856d;
					}
				}
			}
			.colors {
				@include flex();
				gap: 6px;
				width: 100%;
				height: 100%;

				span {
					display: inline-block;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					background: #23a6f0;
					&:nth-child(1) {
						background: #23a6f0;
					}
					&:nth-child(2) {
						background: #23856d;
					}
					&:nth-child(3) {
						background: #e77c40;
					}
					&:nth-child(4) {
						background: #23856d;
					}
				}
			}
		}
		p {
			@include mainFont(14px, 24px, 0.2px, #737373);
			margin-bottom: 5px;
		}
	}
}
