.ant-layout {
	background: #fafafa;
	.Shop-content_container {
		@include horizontalPadding();
		@include verticalPadding(2rem, 2rem);

		@media (max-width: 1024px) {
			@include horizontalPadding(3rem, 3rem);
		}
		.filter-row {
			@include flex(center, space-between);
			@include verticalPadding(1.5rem, 1.5rem);
			@media (max-width: 1024px) {
				@include horizontalPadding(2rem, 2rem);
				gap: 20px;
			}

			.ant-input-search {
				width: 350px;
				@media (max-width: 1024px) {
					width: 30vw;
				}
				.ant-input-group {
					height: 45px;
					.ant-input {
						background: #e4e4e4;
						height: 45px;
						@include mainFont(14px, 24px, 0.2px, #b6b6b6);
					}
					.ant-input-group-addon {
						button {
							background: #e4e4e4;
							border-left: 0;
							height: 100%;
							svg {
								width: 20px;
								height: 20px;
								fill: #000;
							}
						}
					}
				}
			}
			.filter_section {
				@include flex();
				gap: 15px;
				@media (max-width: 992px) {
					flex-direction: column-reverse;
				}

				.ant-select {
					.ant-select-selector {
						@include mainFont(14px, 28px, 0.2px);
						@include flex();
						background: #f9f9f9;
						color: #737373;
						height: 50px;
						input {
							@include verticalPadding(1rem, 1rem);
							height: 50px;
						}
					}
				}
			}
		}
		.ant-pagination {
			@include flex();
			@include verticalPadding();
			height: 170px;

			.ant-pagination-item {
				@include flex();
				flex-direction: column;
				width: 46px;
				height: 74px;
				margin: 0;
				a {
					@include mainFont(14px, 24px, 0.2px, #23a6f0);
				}
				&.ant-pagination-item-active {
					background: #23a6f0;
					a {
						color: #fff;
					}
				}
			}
			.ant-pagination-prev,
			.ant-pagination-next {
				@include flex();
				@include mainFont();
				flex-direction: column;
				height: 100%;
				margin: 0;
				background: #ffffff;
				border: 1px solid #d9d9d9;
				padding: 25px;
				color: #23a6f0;
				&.ant-pagination-disabled {
					color: #bdbdbd;
				}
			}
		}

		.shop-item_container {
			@include flex(center, space-between);
			@media (max-width: 768px) {
				flex-wrap: wrap;
			}
			.item_details {
				@include flex();
				@include verticalPadding(1rem, 3rem);
				flex-direction: column;
				gap: 15px;
				max-width: 510px;
				h4 {
					@include mainFont(20px, 30px, 0.2px, #252b42);
					align-self: flex-start;
				}
				.review_container {
					@include flex();
					align-self: flex-start;
					gap: 10px;
					.ant-rate-star {
						svg {
							stroke: #f3cd03;
							stroke-width: 50px;
						}
					}

					.ant-typography {
						@include mainFont(14px, 24px, 0.2px, #737373);
					}
				}
				.price {
					@include mainFont(24px, 32px, 0.1px, #252b42);
					align-self: flex-start;
				}
				.availability {
					@include flex();
					align-self: flex-start;
					gap: 5px;
					.ant-typography {
						@include mainFont(14px, 24px, 0.12px, #737373);
						&.status {
							color: #23a6f0;
						}
					}
				}
				.details {
					@include verticalPadding(1rem, 3rem);
					@include mainFont(14px, 20px, 0.12px, #858585);
					border-bottom: 1px solid #bdbdbd;
				}
				.colors {
					@include verticalPadding(1rem, 1rem);
					justify-content: flex-start;
					span {
						width: 30px;
						height: 30px;
					}
				}
				.item_actions {
					@include flex();
					align-self: flex-start;
					gap: 10px;
					.action_button {
						width: 40px;
						height: 40px;
						padding: 0;
						border-radius: 50%;
						&:focus {
							color: unset;
							border-color: #d9d9d9;
						}
						&.selected {
							color: #40a9ff;
							border-color: #40a9ff;
						}
					}
				}
			}
		}
	}
	.best_seller-container {
		@include verticalPadding(3rem, 3rem);
		@include horizontalPadding();
		gap: 25px;
		@media (max-width: 768px) {
			@include horizontalPadding(3rem, 3rem);
		}
		.ant-typography {
			@include mainFont(24px, 32px, 0.1px, #252b42);
			@include verticalPadding(2rem, 2rem);
			justify-content: flex-start;
			width: 100%;
			border-bottom: 2px solid #ececec;
		}
	}
}
